---
layout: archive
title: "Mes publications"
lang: fr
permalink: /fr/publications/
author_profile: true
ref: publication
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}


<section>
  <h2>Articles</h2>
  J'ai plusieurs projets en cours de route, mais aucun n'a été publié pour l'instant. Restez alerte!
  <article>
    <h3>Wavelet-Based Feature Map for Kernel Approximation.</h3>
    <p><i><strong>Mathieu Bazinet</strong>, Valentina Zantedeschi, Pascal Germain</i>
    <br>Cet article a été soumis en 2023, mais n'a jamais été publié. À venir!</p>
  </article>
  <article>
    <h3>Application of machine learning tools to study the synergistic impact of physicochemical properties of peptides and filtration membranes on peptide migration during electrodialysis with filtration membranes</h3>
    <p><i>Zain Sanchez-Reinoso, <strong>Mathieu Bazinet</strong>, Benjamin Leblanc, Jean-Pierre Clément, Pascal Germain, Laurent Bazinet.</i>
    <br>Présentement en évaluation.</p>
</article>
  <article>
      <h3>How peptide migration and fraction bioactivity are modulated by electrical current modes during separation by an
        electromembrane process: A comprehensive machine learning-based peptidomic approach.</h3>
      <p><i>Aurore Cournoyer, <strong>Mathieu Bazinet</strong>, Jean-Pierre Clément, Pier-Luc Plante, Ismail Fliss, Laurent Bazinet.</i>
      <br>Publié dans la thèse d'Aurore Cournoyer. Présentement en évaluation.</p>
  </article>
</section>


