---
layout: archive
title: "Publications"
lang: eng
permalink: /eng/publications/
author_profile: true
ref: publication
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<section>
  <h2>Articles</h2>
  <article>
    <h3>Sample Compression Hypernetworks: From Generalization Bounds to Meta-Learning.</h3>
    <p><i>Benjamin Leblanc, <strong>Mathieu Bazinet</strong>, Nathaniel D'Amours, Alexandre Drouin, Pascal Germain</i>
    <br><a href="https://arxiv.org/abs/2410.13577"><strong><font size="3">ArXiv version of the paper</font></strong></a>
  </p>
  </article>
  <article>
    <h3>Sample Compression Unleashed : New Generalization Bounds for Real Valued Losses.</h3>
    <p><i><strong>Mathieu Bazinet</strong>, Valentina Zantedeschi, Pascal Germain</i>
    <br><a href="https://arxiv.org/abs/2409.17932"><strong><font size="3">ArXiv version of the paper</font></strong></a>
    <a href="https://github.com/GRAAL-Research/pick-to-learn"><strong><font size="3">Code for the paper</font></strong></a></p>
  </article>
  <article>
    <h3>Wavelet-Based Feature Map for Kernel Approximation.</h3>
    <p><i><strong>Mathieu Bazinet</strong>, Valentina Zantedeschi, Pascal Germain</i>
    <br> This article was submitted at a conference in 2023, but was never published.</p>
  </article>
  <article>
    <h3>Application of machine learning tools to study the synergistic impact of physicochemical properties of peptides and filtration membranes on peptide migration during electrodialysis with filtration membranes</h3>
    <p><i>Zain Sanchez-Reinoso, <strong>Mathieu Bazinet</strong>, Benjamin Leblanc, Jean-Pierre Clément, Pascal Germain, Laurent Bazinet.</i>
    <br>Currently under review.
    <br><a href="https://github.com/MathieuBazinet/EDFM"><strong><font size="3">Code for the paper</font></strong></a></p>
</article>
  <article>
      <h3>How peptide migration and fraction bioactivity are modulated by electrical current modes during separation by an
        electromembrane process: A comprehensive machine learning-based peptidomic approach.</h3>
      <p><i>Aurore Cournoyer, <strong>Mathieu Bazinet</strong>, Jean-Pierre Clément, Pier-Luc Plante, Ismail Fliss, Laurent Bazinet.</i>
      <br>Present in Aurore Cournoyer's thesis. Currently under review.
      <br><a href="https://github.com/MathieuBazinet/pef-ml"><strong><font size="3">Code for the paper</font></strong></a></p>
  </article>
</section>

<section>
  <h2>Workshop papers</h2>
  <article>
    <h3>Sample Compression Unleashed : New Generalization Bounds for Real Valued Losses.</h3>
    <p><i><strong>Mathieu Bazinet</strong>, Valentina Zantedeschi, Pascal Germain</i>
    <br>Paper accepted at the Workshop on Mathematics of Modern Machine Learning of NeurIPS 2024.
    <!-- <br><a href="https://arxiv.org/abs/2409.17932"><strong><font size="3">Version arXiv du papier</font></strong></a> -->
  </p>
  </article>
  <article>
    <h3>Sample Compression Unleashed : New Generalization Bounds for Real Valued Losses.</h3>
    <p><i><strong>Mathieu Bazinet</strong>, Valentina Zantedeschi, Pascal Germain</i>
    <br>Paper accepted at the Workshop on Machine Learning and Compression of NeurIPS 2024.
    <!-- <br><a href="https://arxiv.org/abs/2409.17932"><strong><font size="3">Page openReview (Pas encore publié, lien ari</font></strong></a> -->
  </p>
  </article>
  <article>
    <h3>Sample Compression Hypernetworks: From Generalization Bounds to Meta-Learning.</h3>
    <p><i>Benjamin Leblanc, <strong>Mathieu Bazinet</strong>, Nathaniel D'Amours, Alexandre Drouin, Pascal Germain</i>
    <br>Paper accepted at the Workshop on Machine Learning and Compression of NeurIPS 2024.
    <!-- <br><a href="https://arxiv.org/abs/2409.17932"><strong><font size="3">Version arXiv du papier</font></strong></a> -->
  </p>
  </article>
</section>
