---
layout: archive
title: "Publications"
lang: eng
permalink: /eng/publications/
author_profile: true
ref: publication
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<section>
  <h2>Articles</h2>
  <article>
    <h3>Application of machine learning tools to study the synergistic impact of physicochemical properties of peptides and 
      filtration membranes on peptide migration during electrodialysis with filtration membranes</h3>
    <p><i>Zain Sanchez-Reinoso, <strong>Mathieu Bazinet</strong>, Benjamin Leblanc, Jean-Pierre Clément, Pascal Germain, Laurent Bazinet.</i>
      <br>Published in the journal <a href="https://www.sciencedirect.com/journal/separation-and-purification-technology"><font size="3">Separation and Purification Technology</font></a>.
    <br><a href="https://www.sciencedirect.com/science/article/pii/S1383586624046161"><strong><font size="3">Link to paper</font></strong></a>
    <a href="https://github.com/MathieuBazinet/EDFM"><strong><font size="3">Code for the paper</font></strong></a>
  </p>
</article>
  <article>
      <h3>How peptide migration and fraction bioactivity are modulated by electrical current modes during separation by an
        electromembrane process: A comprehensive machine learning-based peptidomic approach.</h3>
      <p><i>Aurore Cournoyer, <strong>Mathieu Bazinet</strong>, Jean-Pierre Clément, Pier-Luc Plante, Ismail Fliss, Laurent Bazinet.</i>
      <br>Published in the journal <a href="https://www.sciencedirect.com/journal/food-research-international"><font size="3">Food Research International</font></a>.
      <br><a href="https://www.sciencedirect.com/science/article/pii/S096399692401487X"><strong><font size="3">Link to paper</font></strong></a>
      <a href="https://github.com/MathieuBazinet/pef-ml"><strong><font size="3">Code for the paper</font></strong></a>
    </p>
  </article>
  <article>
    <h3>Sample Compression Hypernetworks: From Generalization Bounds to Meta-Learning.</h3>
    <p><i>Benjamin Leblanc, <strong>Mathieu Bazinet</strong>, Nathaniel D'Amours, Alexandre Drouin, Pascal Germain</i>
    <br><a href="https://arxiv.org/abs/2410.13577"><strong><font size="3">ArXiv version of the paper</font></strong></a>
  </p>
  </article>
  <article>
    <h3>Sample Compression Unleashed : New Generalization Bounds for Real Valued Losses.</h3>
    <p><i><strong>Mathieu Bazinet</strong>, Valentina Zantedeschi, Pascal Germain</i>
    <br><a href="https://arxiv.org/abs/2409.17932"><strong><font size="3">ArXiv version of the paper</font></strong></a>
    <a href="https://github.com/GRAAL-Research/pick-to-learn"><strong><font size="3">Code for the paper</font></strong></a></p>
  </article>
  <article>
    <h3>Wavelet-Based Feature Map for Kernel Approximation.</h3>
    <p><i><strong>Mathieu Bazinet</strong>, Valentina Zantedeschi, Pascal Germain</i>
    <br> This article was submitted at a conference in 2023, but was never published.</p>
  </article>
</section>

<section>
  <h2>Workshop papers</h2>
  <article>
    <h3>Sample Compression Unleashed : New Generalization Bounds for Real Valued Losses.</h3>
    <p><i><strong>Mathieu Bazinet</strong>, Valentina Zantedeschi, Pascal Germain</i>
    <br>Paper accepted at the Workshop on Mathematics of Modern Machine Learning of NeurIPS 2024.
    <br><a href="https://openreview.net/forum?id=QOl18v8Gfq"><strong><font size="3">OpenReview forum</font></strong></a>
    <a href="https://openreview.net/pdf?id=QOl18v8Gfq"><strong><font size="3">Link to paper</font></strong></a>
  </p>
  </article>
  <article>
    <h3>Sample Compression Unleashed : New Generalization Bounds for Real Valued Losses.</h3>
    <p><i><strong>Mathieu Bazinet</strong>, Valentina Zantedeschi, Pascal Germain</i>
    <br>Paper accepted at the Workshop on Machine Learning and Compression of NeurIPS 2024.
    <br><a href="https://openreview.net/forum?id=rutp5J4ks2"><strong><font size="3">OpenReview forum</font></strong></a>
    <a href="https://openreview.net/pdf?id=rutp5J4ks2"><strong><font size="3">Link to paper</font></strong></a>
  </p>
  </article>
  <article>
    <h3>Sample Compression Hypernetworks: From Generalization Bounds to Meta-Learning.</h3>
    <p><i>Benjamin Leblanc, <strong>Mathieu Bazinet</strong>, Nathaniel D'Amours, Alexandre Drouin, Pascal Germain</i>
    <br>Paper accepted at the Workshop on Machine Learning and Compression of NeurIPS 2024.
    <br><a href="https://openreview.net/forum?id=7v8HzCUVbh"><strong><font size="3">OpenReview forum</font></strong></a>
    <a href="https://openreview.net/pdf?id=7v8HzCUVbh"><strong><font size="3">Link to paper</font></strong></a>
  </p>
  </article>
</section>
