{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          {% for item in site.data.navigation.main %}
          {% if item.language == page.lang %}
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ basepath }}/{{item.language}}">{{ site.title }}</a></li>
          {% endif %}
          {% endfor %} 
          {% for item in site.data.navigation.main %}
          {% if item.language == page.lang %}
          {% for link in item.links %} 
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
          {% if link.url.size < 6 %}
            {% assign purl = page.url | split: "/" | last %}
            {% if purl == item.language %}
              {% assign url = link.url %}
            {% else %}
              {% assign url = link.url | append: purl | append: "/" %}
            {% endif %}
          {% else %}
            {% assign url = link.url %}
          {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ url }}">{{ link.title }}</a></li>
          {% endfor %} 
          {% endif %}
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>